@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<!--Homepage where users are first sent-->
<div>
    <img src="~/img/JoelHilton.jpg" width="500" />
    <p>
        Personal Movie Database
    </p>
</div>