@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}
<!--Instructions were kind of unclear but this is a separate view with a link to the podcasts as it instructed-->
<div>
    Click <a href="https://baconsale.com/">HERE</a> to check out the podcast!
</div>